@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto:wght@400;500;700&display=swap");
:root {
  --orange: #f36c2d;
  --banner-green: #1c9d3e;
  --black: #000000;
  --green: rgba(15, 196, 15, 0.938);
  --light-color: #666;
  --primary-bg: #ffffff;
  --primary-fg: #000000;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 1rem solid rgba(0, 0, 0, 0.1);
  --outline: 1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--black);
  --blur {
    filter: blur(8px);
    -webkit-filter: blur(100px);
  }
}
.dark-mode {
  --primary-bg: #000000;
  --primary-fg: #ffffff;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
body {
  background: #eee;
}
a {
  text-decoration: none;
}
.section {
  padding: 2rem 9%;
}
.heading {
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: var(--black);
}
.heading span {
  background: var(--banner-green);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.btn {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: inline-block;
  padding: 0.8rem 0.5rem;
  font-size: 1.3rem;
  font-weight: bolder;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  color: var(--black);
  cursor: pointer;
  background: none;
}
.btn:hover {
  background: var(--orange);
  color: #fff;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3%;
  background: var(--primary-bg);
  box-shadow: var(--box-shadow);
}
.header.active {
  background: #000000;
}
.header .logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-fg);
}
.header .logo i {
  color: var(--orange);
  padding-right: 2rem;
}
.header .navbar a {
  font-size: 1.4rem;
  margin: 0 1rem;
  color: var(--primary-fg);
}
.header .navbar a:hover {
  color: var(--orange);
}
.header .icons div {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: 1rem;
  background: #eee;
  color: var(--black);
  font-size: 1.5rem;
  margin-right: 0.3rem;
  text-align: center;
  cursor: pointer;
}
.header .icons div:hover {
  background: var(--orange);
  color: #eee;
}
#menu-btn {
  display: none;
}
.header .search-form {
  position: absolute;
  top: 110%;
  right: -110rem;
  width: 50rem;
  height: 4rem;
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.header .search-form.active {
  right: 2rem;
  transition: 0.4s linear;
}
.header .search-form input {
  height: 100%;
  border: none;
  outline: none;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1.5rem;
}
.header .search-form label {
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}
.header .search-form label:hover {
  color: var(--blue);
}
.header .shopping-cart {
  position: absolute;
  top: 110%;
  right: -110%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 30rem;
  max-height: 38rem;
  overflow: scroll;
  background: #fff;
}
.header .shopping-cart.active {
  right: 2rem;
  transition: 0.4s linear;
}
.header .shopping-cart .box {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
}
.header .shopping-cart .box img {
  width: 12rem;
  height: 8rem;
}
.header .shopping-cart .box .fa-trash {
  position: absolute;
  top: 50%;
  right: 2rem;
  cursor: pointer;
  color: var(--light-color);
  transform: translateY(-50%);
}
.header .shopping-cart .box .fa-trash:hover {
  color: var(--orange);
}
.header .shopping-cart .box .content h3 {
  color: var(--black);
  font-size: 1.7rem;
  padding-bottom: 1rem;
}
.header .shopping-cart .box .content span {
  color: var(--light-color);
  font-size: 1.6rem;
}
.header .shopping-cart .box .content .quantity {
  padding-left: 1rem;
}
.header .shopping-cart .total {
  font-size: 2.5rem;
  text-align: center;
  color: var(--black);
}
.header .shopping-cart .btn {
  display: block;
  text-align: center;
  cursor: not-allowed;
}
.header .login-form,
.acc-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 30rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 1rem;
  background: #fff;
  text-align: center;
}
.header .login-form.active {
  right: 2rem;
  transition: 0.4s linear;
}
.header .acc-form.active {
  right: 2rem;
  transition: 0.4s linear;
}
.header .login-form h3 {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
.header .login-form .box {
  width: 100%;
  margin: 0.7rem 0;
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--black);
  text-transform: none;
  border: none;
  outline: none;
}
.header .login-form p {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  color: var(--light-color);
}
.header .login-form p a {
  color: var(--orange);
  text-decoration: underline;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../images/bg.png);
  background-position: center;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 5rem;
}
.home .content {
  text-align: center;
  width: 60rem;
}
.home .content h3 {
  color: var(--black);
  font-size: 3rem;
}
.home .content h3 span {
  color: var(--green);
}
.home .content p {
  color: #fff;
  font-size: 2rem;
  font-weight: bolder;
  padding: 1rem 0;
  line-height: 1.8;
}
.features .box-container {
  display: flex;
}
.features .box-container .box {
  padding: 3rem 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  background: var(--primary-bg);
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
  float: left;
  box-shadow: var(--box-shadow);
}
.features .box-container .box:hover {
  outline: var(--outline-hover);
  outline-offset: 0rem;
}
.features .box-container .box img {
  margin: 1rem 0;
  height: 15rem;
}
.features .box-container .box h3 {
  font-size: 2rem;
  line-height: 1.8;
  color: var(--black);
}
.features .box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--light-color);
  padding: 1rem 0;
}
.products .product-slider {
  padding: 1rem;
}
.products .product-slider h1 {
  margin: 2rem;
  font-size: 2.5rem;
}
.products .product-slider .wrapper {
  display: flex;
  overflow: scroll;
}
.products .product-slider:first-child {
  margin-bottom: 2rem;
}
.products .product-slider .box {
  background: #fff;
  border-radius: 1.5rem;
  text-align: center;
  padding: 2rem 2rem;
  margin: 0.5rem;
  outline-offset: -1rem;
  outline: var(--outline);
  box-shadow: var(--box-shadow);
}
/* .products .product-slider .box:hover {
  outline-offset: 0rem;
  outline: var(--outline-hover);
} */
.products .product-slider .box img {
  width: 19rem;
  height: 15rem;
}
/* .products .product-slider .box img:hover {
  height: 16rem;
} */
.products .product-slider .box h3 {
  font-size: 2rem;
  color: var(--black);
}
.products .product-slider .box .price {
  font-size: 2rem;
  color: var(--light-color);
  padding: 0.5rem 0;
}
.products .product-slider .box .stars i {
  font-size: 1.7rem;
  color: var(--orange);
  padding: 0.5rem 0;
}
.products .top-up {
  width: 4rem;
  height: 5rem;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  border-radius: 5rem;
  color: var(--primary-bg);
  background-color: var(--primary-fg);
}
.footer {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg);
}
.footer a {
  font-size: 2rem;
  color: var(--primary-fg);
}
.footer span {
  margin: 1rem;
  color: var(--primary-fg);
}
/* media queries */

@media (max-width: 1060px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  .section {
    padding: 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  .section {
    padding: 2rem;
  }
}

@media (max-width: 800px) {
  #menu-btn {
    display: inline-block;
  }
  .header {
    padding: 2.5rem;
  }
  .header .search-form {
    width: 90%;
  }
  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    background: var(--primary-bg);
  }

  .header .navbar.active {
    right: 2rem;
    transition: 0.4s linear;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }
  .features .box-container {
    display: grid;
  }
  #cart-btn,
  #login-btn,
  #color-btn {
    display: none;
  }
  .products .top-up {
    width: 5rem;
    height: 5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 40%;
  }
  .heading span {
    font-size: 2.5rem;
  }
}
@media (max-width: 284px) {
  html {
    font-size: 35%;
  }
  .heading span {
    font-size: 2.5rem;
  }
}
